<p-table
    #dt1
    [value]="tickets"
    dataKey="id"
    [rows]="10"
    [rowsPerPageOptions]="[10, 25, 50]"
    [loading]="loading"
    [paginator]="true"
    [globalFilterFields]="['name', 'country.name', 'representative.name', 'status']"
>
    <ng-template #caption>
        <div class="flex">
            <p-button label="Clear" [outlined]="true" icon="pi pi-filter-slash" (click)="clear(dt1)" />
            <p-iconfield iconPosition="left" class="ml-auto">
                <p-inputicon>
                    <i class="pi pi-search"></i>
                </p-inputicon>
                <input pInputText type="text" (input)="dt1.filterGlobal($event.target, 'contains')" placeholder="Search keyword" />
            </p-iconfield>
        </div>
    </ng-template>
    <ng-template #header> <tr>
            <th style="min-width:15rem">
                <div class="flex items-center">
                    Titulo
                    <p-columnFilter type="text" field="name" display="menu" />
                </div>
            </th>
            <th style="min-width:15rem">
                <div class="flex items-center">
                    Descripcion
                    <p-columnFilter type="text" field="country.name" display="menu" />
                </div>
            </th>
            <th style="min-width:15rem">
                <div class="flex items-center">
                    Prioridad
                    <p-columnFilter field="representative" matchMode="in" display="menu" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false">
                        <ng-template #header>
                            <div class="px-4 pt-4 pb-0">
                                <span class="font-bold">Agent Picker</span>
                            </div>
                        </ng-template>
                    </p-columnFilter>
                </div>
            </th>
            <th style="min-width:10rem">
                <div class="flex items-center">
                    Fecha
                    <p-columnFilter type="date" field="date" display="menu" />
                </div>
            </th>
            <th style="width: 3rem">
                <div class="flex items-center">
                    Verificado
                    <p-columnFilter type="boolean" field="verified" display="menu" />
                </div>
            </th>
        </tr>
    </ng-template>
    <ng-template #body let-ticket>
        <tr>
            <td>
                {{ ticket.titulo }}
            </td>
            <td>
                <div class="flex items-center gap-2">
                    <span >{{ ticket.descripcion }}</span>
                </div>
            </td>
            <td>
                <div class="flex items-center gap-2">
                    <span >{{ ticket.prioridad }}</span>
                </div>
            </td>
            <td>
                {{ ticket.fecha | date: 'MM/dd/yyyy' }}
            </td>
            <td class="text-center">
                <i
                    class="pi"
                    [ngClass]="{
                            'text-green-500 pi-check-circle': ticket.verified,
                            'text-red-500 pi-times-circle': !ticket.verified
                        }"
                ></i>
            </td>
        </tr>
    </ng-template>
    <ng-template #emptymessage>
        <tr>
            <td colspan="7">No hay registros.</td>
        </tr>
    </ng-template>
</p-table>
